extends /template/_layout

block content
    nav
        if subcatalog.logo
            section
                img(src=subcatalog.logo width='180' height='150')
        each val, index in subcatalog.seq
            section.active(id=val.display)
                h2(title=val.display)
                    if subcatalog[val.name].seq
                        a
                            = val.display
                    else
                        a(href=subcatalog[val.name])
                            = val.display
                if subcatalog[val.name].seq
                    div.pages
                        each seq, index in subcatalog[val.name].seq
                            a(href=subcatalog[val.name][seq.name])
                                != seq.display
    div.container
        div#page
            //- If you are using makedown-jade to append markdown. Add comments like the following line.
            //- {{markdown}}

    script(type='text/javascript').
        var holder = "js-video",
            container = document.getElementById(holder);

        container && jwplayer('js-video').setup({
            flashplayer: "/flash/jwplayer.flash.swf",
            file: container.getAttribute("data-url"),
            image: container.getAttribute("data-image")
        });

